body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.trait{
    width: 90%;
    border: 1px solid black;
}
.Centered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.Centered .AddTask {
    text-align: left !important;
  }
  